body {
  background: url(img/bg_repeat.png);
  border-top: 15px solid #444;
  color: #444;
  font-family: 'Helvetica Neue', arial, sans-serif;
  padding: 0 50px;
}

a {
  color: #f17158;
  text-decoration: none;
}

a:hover {
  color: #444;
}

#container {
  margin: 50px auto;
  max-width: 980px;
}

.header {
  margin-bottom: 50px;
  text-align: center;
}

.header .name {
  color: #f17158;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -4px;
  margin-bottom: 50px;
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.8);
}

.header .name a {
  color: #f17158;
}

.nav {
  font-size: 20px;
  padding: 20px;
  text-transform: uppercase;
}

.nav a {
  background: #444;
  border-radius: 4px;
  color: #fff;
  margin: 0 10px;
  padding: 8px 14px;
}

.nav a:hover {
  background-color: #f17158;
}

.content {
  border-radius: 10px;
  background: #fff;
  padding: 50px;
}

.img-right {
  float: right;
  margin: 0 0 50px 50px;
}

h1 {
  color: #f17158;
  font-weight: bold;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -2px;
  margin-bottom: 50px;
}

h2, h3, h4, h5, h6 {
  color: #f17158;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}

h3, h4 {
  font-size: 30px;
}

p {
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 50px;
}

ul {
  font-size: 24px;
  list-style-type: disc;
  line-height: 38px;
  margin: 0 0 50px 50px;
}

.meta {
  background-color: #f17158;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: #fff;
  font-size: 16px;
  margin: -50px -50px 50px;
  padding: 10px 20px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.meta .more {
  float: right;
}

.meta .more a {
  color: #fff;
}

.meta.title h1 {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 38px;
  margin: 0;
}

.posts ul {
  list-style-type: none;
}

.posts li {
  clear: both;
}

.posts li date {
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
  text-align: right;
  width: 60px;
}

.posts li a {
  font-weight: normal;
}

.copyright p {
  color: #777;
  font-size: 12px;
  text-align: center;
}